@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1468509973_61444.ttf') format('truetype');
}


body{width: 10rem;padding-bottom: 1.2rem;font-family: inhert,"Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif;}

.head-nav {position: fixed;bottom: 0;left: 0; width: 10rem; height: 1.2rem;}

.head-nav a, .head-nav-item{
  float: left;
  height: 1rem;
  width: 3.333rem;
  text-align: center;
  background-color: #f1f1f1;
  color: #808080;
  font-family: iconfont;
  line-height: 0.4rem;
  font-size: 0.36rem;
  padding-top: 0.2rem;
}
.head-nav .active{
  color: #38adff;
}
.nav-tab-icon{
  line-height:0.52rem;
  font-size:0.5rem;
}
.app{height: 1.2rem; width:100%; background: #38adff; line-height: 1.2rem; color: white;}
.app-name{float:left;font-size:0.45rem;font-family:iconfont;margin-left:0.45rem;}
.app-username{float:right;margin-right: 0.2rem;font-size:0.36rem;}
.search-area{background:#9cd2f9;width:100%;}
.search-input{height:0.85rem;width:9rem;padding:0 0.2rem;margin:0.2rem 0.3rem;outline:none;border:none;border-radius:0.1rem;}

.list-share-button{
  display: block;
  outline: none;
  border: none;
  position: fixed;
  right: 0.3rem;
  bottom: 1.6rem;
  width: 1.4rem;
  height:1.4rem;
  border-radius:1.4rem;
  background: #38adff;
  box-shadow: -1px 1px 3px #38adff;
  text-align: center;
  color: white;
}

.book-item{
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-bottom: 1px solid #e6e6e6;
}

.book-intro{
  height:3rem;
  padding-bottom: 0.2rem;
}

.book-img-link{
  float: left;
  display: inline-block;
  margin-right: 0.11rem;
  box-shadow: -1px 1px 3px #ccc;
}

.book-image{
  width: 2.3rem;
  height: 3rem;
}

.book-info{
  display: inline-block;
  float: left;
  width: 6.5rem;
}

.book-title{
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0.15rem;
  font-size: 0.45rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
}

.book-desc{
  margin: 0.2rem 0 0.2rem 0.15rem;
  line-height: 0.42667rem;
  font-size: 0.34667rem;
  max-height: 1.3rem;
  /* 仅webkit支持 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #666666;
}

.book-author{
  display: inline-block;
  margin: 0.2rem 0 0 0.15rem;
  line-height: 0.42667rem;
  font-size:0.34667rem;
  color: #666666;
  max-width: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-department, .space-on-status{
  margin: 0.15rem 0 0 0.15rem;
  line-height: 0.42667rem;
  font-size:0.34667rem;
  color: #666666;
  border:1px solid #e6e6e6;
  float: right;
}


.more, .detail-request-button{
  display: block;
  margin: 0.2rem;
  line-height: 1rem;
  border: 1px solid #ccc;
  color: #666;
  text-align: center;
  font-size: 0.4rem;
  border-radius: 0.1rem;
}

.detail-request-button{
  width: 9.5rem;
}

.detail{
}

.detail-book-info{
  margin: 0.3rem 0.3rem;
  min-height: 3rem;
}

.detail-book-image{
  width: 2.3rem;
  height: 3rem;
  display: inline-block;
  float: left;
  box-shadow: -1px 1px 3px #ccc;
}

.detail-book-basicinfo{
  width: 6.5rem;
  margin: 0rem 0 0.2rem 0.3rem;
  float: left;
}

.detail-book-desc{
  clear: both;
  margin: 0.2rem 0 0.2rem 0.15rem;
  line-height: 0.42667rem;
  font-size: 0.34667rem;
  color: #666666;
}

.book-info-item{
  line-height: 0.46667rem;
  font-size: 0.34667rem;
  color: #666666;
  margin-left: 0.15rem;
}

.detail-state-info{
  margin: 0.2rem 0 0.2rem 0.15rem;
  line-height: 0.42667rem;
  font-size: 0.34667rem;
  color: #666666;
}

.space-nav{
  height: 1rem;
  background: #f1f1f1;
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.3rem;
}
.space-nav a{
  background: #f1f1f1;
  display: inline-block;
  width: 3.3rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.4rem;
  color: #666;
}

.space-nav .active{
  color: #38adff;
}

.space-on-actions{
  height: 0.8rem;
}

.space-on-actions button{
  outline: none;
  width: 2rem;
  border: 1px solid #999;
  background: white;
  height: 0.6rem;
  border-radius: 0.1rem;
  font-size: 0.35rem;
  margin: 0.1rem 0.2rem;
  float: right;
}