@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1468502274_3527036.ttf') format('truetype');
}

.app{height: 1.2rem; width:100%; background: #38adff; line-height: 1.2rem; color: white;}
.app-name{float:left;font-size:0.45rem;font-family:iconfont;margin-left:0.45rem;}
.app-username{float:right;}
.search-area{background:#9cd2f9;width:100%;}
.search-input{height:0.85rem;width:9rem;padding:0 0.2rem;margin:0.2rem 0.3rem;outline:none;border:none;border-radius:0.1rem;}

.book-item{
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-bottom: 1px solid #38adff;
}

.book-intro{
  height:3rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #9cd2f9;
}

.book-img-link{
  float: left;
  display: inline-block;
  margin-right: 0.11rem;
}

.book-image{
  width: 2.3rem;
  height: 3rem;
}

.book-info{
  float: left;
  width: 6.5rem;
}

.book-desc{
  margin: 0.2rem 0;
  line-height: 0.42667rem;
  font-size: 0.34667rem;
  height: 2.15rem;
  /* 仅webkit支持 */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}