@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1468509973_61444.ttf') format('truetype');
}


body{width: 10rem;padding-bottom: 1.2rem;}

.head-nav {position: fixed;bottom: 0;left: 0; width: 10rem; height: 1.2rem;}

.head-nav a, .head-nav-item{
  float: left;
  height: 1rem;
  width: 3.333rem;
  text-align: center;
  background-color: #f1f1f1;
  color: #808080;
  font-family: iconfont;
  line-height: 0.4rem;
  font-size: 0.36rem;
  padding-top: 0.2rem;
}
.head-nav .active{
  color: #38adff;
}
.nav-tab-icon{
  line-height:0.52rem;
  font-size:0.5rem;
}
.app{height: 1.2rem; width:100%; background: #38adff; line-height: 1.2rem; color: white;}
.app-name{float:left;font-size:0.45rem;font-family:iconfont;margin-left:0.45rem;}
.app-username{float:right;margin-right: 0.2rem;font-size:0.36rem;}
.search-area{background:#9cd2f9;width:100%;}
.search-input{height:0.85rem;width:9rem;padding:0 0.2rem;margin:0.2rem 0.3rem;outline:none;border:none;border-radius:0.1rem;}

.book-item{
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  border-bottom: 1px solid #38adff;
}

.book-intro{
  height:3rem;
  padding-bottom: 0.2rem;
}

.book-img-link{
  float: left;
  display: inline-block;
  margin-right: 0.11rem;
}

.book-image{
  width: 2.3rem;
  height: 3rem;
}

.book-info{
  display: inline-block;
  float: left;
  width: 6.5rem;
}

.book-title{
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0.15rem;
  font-size: 0.45rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-desc{
  margin: 0.2rem 0 0.2rem 0.15rem;
  line-height: 0.42667rem;
  font-size: 0.34667rem;
  max-height: 1.3rem;
  /* 仅webkit支持 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #666666;
}

.book-author{
  margin: 0.2rem 0 0 0.15rem;
  line-height: 0.42667rem;
  font-size:0.34667rem;
  color: #666666;
}

.more{
  margin: 0.2rem;
  line-height: 1rem;
  border: 1px solid #666666;
  background: #999999;
  color: #38adff;
  text-align: center;
  font-size: 0.4rem;
}